.recent-blg-multi.grid ul li img, .recent-blg-multi.grid ul li .post-img, .recent-wp-multi.grid ul li img, .recent-wp-multi.grid ul li .post-img, .recent-blg .post-img, .recent-wp .post-img, .recent-blg .post-img img, .recent-wp .post-img img, .recent-wp-multi ul li img, .recent-wp-multi ul li .post-img {
    max-width: unset;
}

.headline h2, .headline h3 {
    font-size: 1.25rem!important;
    line-height: 1.45!important;
    margin-bottom: 0.25rem;
}

