#dynamic-news-nav {
    background: #161d24;
    min-height: 50px;
}
.news-nav-wrapper {
    background: #161d24;
    max-width: var(--content-width)!important;
    margin: 0 auto; padding-inline: 20px;
}
.trending-container {
    padding-inline: 20px;
}

.recent-blg-multi.grid ul li img, .recent-blg-multi.grid ul li .post-img, .recent-wp-multi.grid ul li img, .recent-wp-multi.grid ul li .post-img, .recent-blg .post-img, .recent-wp .post-img, .recent-blg .post-img img, .recent-wp .post-img img, .recent-wp-multi ul li img, .recent-wp-multi ul li .post-img {
    max-width: unset;
}

.headline h2, .headline h3 {
    font-size: 1.25rem!important;
    line-height: 1.45!important;
    margin-bottom: 0.25rem;
}

.jl_fe_inner {
    bottom: -20%;
}


/* laptop */
@media only screen and (max-width:1366px){
    h2.h3.jl_fe_title {
    font-size: 1.75rem!important;
    }
}


/* tablet */
@media only screen and (max-width:770px) {
    .elementor-element.elementor-element-7daeedd {
        padding-inline: 0;
    }
}


/* mobile */
@media only screen and (max-width:450px){
}
